<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.smiletime">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".my.activitys.UserInformationParticularsActivity" android:theme="@style/NobarTheme">
        </activity>
        <activity android:name=".my.activitys.UserLoginActivity"/>
        <activity android:name=".my.activitys.ManagermentThingActivity"/>
        <activity android:name=".my.activitys.AboutQiuBaiActivity"/>
        <activity android:name=".my.activitys.BlacklistManageActivity"/>
        <activity android:name=".my.activitys.NearFriendActivity"/>
        <activity android:name=".my.activitys.IDPinlessActivity"/>
        <activity android:name=".my.activitys.InformationSettingsActivity"/>
        <activity android:name=".my.activitys.MyDynamicActivity"/>
        <activity android:name=".my.activitys.UserHeadPortraitActivity"/>
        <activity android:name=".my.activitys.UserEditorActivity"/>
        <activity android:name=".my.activitys.MyMedalManageActivity"/>
        <activity android:name=".my.activitys.MyCollectActivity"/>
        <activity android:name=".my.activitys.MyJoinActivity"/>
        <activity android:name=".my.activitys.MymedalActivity"/>
        <activity android:name=".my.activitys.MyQiushiActivity"/>
        <activity android:name=".my.activitys.CommonActivity"/>
        <activity android:name=".my.activitys.GroupActivity"/>
        <activity android:name=".my.activitys.RoutineSettingActivity"/>
        <activity android:name=".my.activitys.ScripManageActivity"/>
        <activity android:name=".my.activitys.SettingsActivity"/>
        <activity android:name=".WebActivity"/>
        <receiver android:name=".my.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>